.DS_Store
/node_modules/
/.env

# React Router
/.react-router/
/build/

local.db
test-seed.db

/coverage/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
